<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--ConnectionFactory,由jms服务商提供-->
    <bean id="targetConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="${brokerURL}"/>
        <!--<property name="brokerURL" value="tcp://192.168.197.128:61616"/>-->
    </bean>
    <!--Spring用于管理真正的ConnectionFactory 的ConnectionFactory-->
    <bean id="connectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
        <!--目标ConnectionFactory对应证书的可以产生Connection JMSConnectionFactory-->
        <property name="targetConnectionFactory" ref="targetConnectionFactory"/>
    </bean>
    <!-- &lt;!&ndash;这个是队列目的地，点对点的 &ndash;&gt;
     <bean id="queueDestination" class="org.apache.activemq.command.ActiveMQQueue">
         <constructor-arg value="spring-queue"/>
     </bean>-->
    <!--这个是主题目的地，一对多的 -->
    <bean id="topicAddOrUpdateDestination" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="itemAddOrUpdateTopic"/>
    </bean>
    <bean id="topicDelDestination" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="itemDelTopic"/>
    </bean>
    <!--messageListener-->
    <!--<bean id="myMessageListener" class="com.e3.search.message.MyMessageListener"/>-->
    <!--消息监听容器-->
    <!-- <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
         <property name="connectionFactory" ref="connectionFactory"/>
         <property name="destination" ref="queueDestination"/>
         <property name="messageListener" ref="myMessageListener"/>
     </bean>-->
    <!--商品添加,修改,同步索引库 监听器-->
    <bean id="itemAddOrUpdateMessageListener" class="com.e3.search.message.ItemAddOrUpdateMessageListener"/>
    <!--商品添加,修改,同步索引库 监听容器-->
    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="destination" ref="topicAddOrUpdateDestination"/>
        <property name="messageListener" ref="itemAddOrUpdateMessageListener"/>
    </bean>
    <!--商品删除删除索引库 监听器-->
    <bean id="itemDelMessageListener" class="com.e3.search.message.ItemDelMessageListener"/>
    <!--商品删除删除索引库 监听容器-->
    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="destination" ref="topicDelDestination"/>
        <property name="messageListener" ref="itemDelMessageListener"/>
    </bean>
</beans>